* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App-Organic {
    max-width: 85%;
    margin: 0 auto;
    position: relative;
}

body {
    margin: 0;
    font-family: Montserrat;
    font-family: Mona Sans;
}
